
;File name            ;Location of File            ;Comment

;Linux
;Text editors

e                     /usr/local/bin/              ;RAND Editor
vim                   /bin/bin/                    ;VI Editor
nedit                 /usr/bin/                    ;NEDIT X-Window Editor
emacs                 /usr/bin/                    ;EMACS Editor
gnuplot               /usr/bin/                    ;GNU plot

;Default files used in test program

ConfigSetPoints       /acc/src/dsc/drivers/cohtdrep/lewis/coht/lrfsc/test/config/             ;Set points
ConfigFeedFwd         /acc/src/dsc/drivers/cohtdrep/lewis/coht/lrfsc/test/config/             ;Feed forward

Reflected             /acc/src/dsc/drivers/cohtdrep/lewis/coht/lrfsc/test/config/             ;Diag
Forward               /acc/src/dsc/drivers/cohtdrep/lewis/coht/lrfsc/test/config/             ;Diag
Cavity                /acc/src/dsc/drivers/cohtdrep/lewis/coht/lrfsc/test/config/             ;Diag
CavityError           /acc/src/dsc/drivers/cohtdrep/lewis/coht/lrfsc/test/config/             ;Diag
Output                /acc/src/dsc/drivers/cohtdrep/lewis/coht/lrfsc/test/config/             ;Diag
Plot                  /acc/src/dsc/drivers/cohtdrep/lewis/coht/lrfsc/test/config/             ;GNU plot file
