
;File name            ;Location of File            ;Comment

;Linux
;Text editors

e                     /usr/local/bin/              ;RAND Editor
vim                   /bin/bin/                    ;VI Editor
nedit                 /usr/bin/                    ;NEDIT X-Window Editor
emacs                 /usr/local/bin/              ;EMACS Editor
gnuplot               /usr/local/bin/              ;GNU plot

;Default files used in test program

ConfigSetPoints       /dsc/local/data/lrfsc/config/      ;Set points
ConfigFeedFwd         /dsc/local/data/lrfsc/config/      ;Feed forward

Reflected             /dsc/local/data/lrfsc/config/      ;Diag
Forward               /dsc/local/data/lrfsc/config/      ;Diag
Cavity                /dsc/local/data/lrfsc/config/      ;Diag
CavityError           /dsc/local/data/lrfsc/config/      ;Diag
Output                /dsc/local/data/lrfsc/config/      ;Diag
Plot                  /dsc/local/data/lrfsc/config/      ;GNU plot file

